*{
    margin: 0px;
    padding: 0px;
}
.re{
    width: 300px;
    background: rgb(0, 0, 0);
    text-align: center;
    position: absolute;
    padding: 35px;
    top: 40%;
    left: 37%;
    border-radius: 25px;
    display: none;
    border: 3px solid #fff;
}
.re p{
    color: #fff;
    margin: 10px;
}
.re a{
    text-decoration: none;
    color: rgb(231, 0, 0);
    background: #fff;
    border-radius: 5px;
    padding: 5px;
}
.main{
    padding-top: 80px;
}
.container{
    width: 100%;
    height: 50px;
    background: #030303; ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    position: fixed;
}
.menu-vis a{
    font-size: 18px;
    display: block;
    text-decoration: none;
    color: rgb(255, 0, 0);
    padding: 0.5px 5px;
    margin: 0px 5px;
}
.login-r{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.login-r input{
    flex-wrap: wrap;
    width: 35%;
    height: 22px;
    background: #ffffff;
    border: 2px solid #eecdcd;
    margin: 0px 3px;
    border-radius: 3px;
}
.login-reg a{
    margin-left: 5px;
    padding:5px;
    font-size: 12px;
    color: rgb(255, 0, 0);
    text-decoration: none;
    background: #00ffdd;
    border: none;
    border-radius: 2px;
}
.register{
    background: #2f74cf18;
    width: 50%;
    height: 673px;
    display: flex;
    flex-flow: column;
    margin: 0px 25% ;
    text-align: center;
}
.Title{
    margin: 30px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 25px;
}
.form input{
    padding: 5px;
    height: 30px;
    width: 39%;
    background: #fff;
    border-radius: 5px;
    margin: 7px;
    border: none;
    border: 2px solid #eecdcd;
}
.butons input{
    margin: 20px 10px;
    width: 25%;
    height: 30px;
    background: #a5a5a5 ;
    color: #ff0000;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

